@page "/Classrooms"
<PageTitle>Classrooms</PageTitle>

<h1>Classrooms</h1>

<a href="/Classrooms/view" class="btn btn-primary">View classRooms</a>
<a href="/Classrooms/create" class="btn btn-primary">Create classRoom</a>